---
layout: default
---

{% include adsense.html %}

<h2>The Artist Formerly Known As Ye Olde SteamOSe</h2>

  <p>SteamOS is now shipping, in beta form at least, and it's all cool and stuff.</p>

  <p>Valve have now integrated most of the improvements from Ye Olde SteamOSe, such as BIOS and DVD support, into their installer. You can download it from <a href="http://repo.steampowered.com/download/SteamOSDVD.iso">here</a>.</p>

  <p>Stephenson's Rocket replaces the Ye Olde SteamOSe project by building back on Valve's installer with bug fixes and improvements - especially hardware support.</p>

  <p>This kind of collaborative development demonstrates the power of Open Source - and remember, you can contribute to Stephenson's Rocket too! Click "View on GitHub" at the top of the screen to get started, and watch the development tutorial video linked below!</p>

<h2>Improvements</h2>

  <ul>
    <li>SteamOS monopolizes drives. Stephenson's Rocket can resize NTFS partitions.</li>
    <li>SteamOS only supports basic partitions. Stephenson's Rocket supports LVM and RAID.</li>
    <li>SteamOS requires a Radeon 5000 or newer for ATI users. Stephenson's Rocket will use the Open Source driver instead on older cards.</li>
    <li>SteamOS requires a Geforce 400 or newer for NVIDIA users. Stephenson's Rocket will use the legacy 340 series driver instead on older cards.</li>
    <li>SteamOS is only updated when Valve have time. Stephenson's Rocket comes with the tools to update it with the latest stuff yourself!</li>
  </ul>

  <p><img src="http://i.imgur.com/a3jnZ6r.png" alt="SteamOS running in VMWare Workstation 10"></p>

<!-- <h2>Planned improvements</h2>

  <ul>
  </ul>-->

<h2>How to install?</h2>

  <h3>Latest release: 2.49plus1 (released 2015-11-10)</h3>

  <h3><a href="magnet:?xt=urn:btih:e282ac4fb18dbfae2e0be7a83411c7d47101b694&dn=StephensonsRocket2.49plus1.iso&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969">Magnet</a></h3>

  <h3><a href="http://download.stephensonsrocket.horse/release/StephensonsRocket2.49plus1.iso.torrent">Torrent</a></h3>

  <p>To get started, download the torrent above.</p>

  <p>Otherwise, clone this repo, and run gen.sh.</p>

  <h4>Installing from a DVD</h4>

    <p>Just burn the ISO to a blank DVD from your favourite tool, and boot it.</p>

  <h4>Installing from USB (Mac)</h4>

    <p>Open a Terminal window from the Utilities section of Applications.</p>

    <p>Type &quot;diskutil list&quot; to get a list of devices - one of them will be your USB stick (e.g. /dev/disk2). Follow the Linux instructions below, with this /dev/rdiskX entry instead of /dev/sdX (please note the added "r"!)</p>

  <h4>Installing from USB (Linux)</h4>

    <p>As root (e.g. use &quot;sudo&quot;) run &quot;dd bs=1M if=/path/to/rocket.iso of=/dev/sdX&quot; - sdX should be the USB stick device (check &quot;dmesg&quot; immediately after plugging it in, you should see the device. Be sure to use sdX, not sdX1 or sdX2. Then boot into the stick.</p>

  <h4>Installing from USB (Windows)</h4>

    <p>Download <a href="http://sourceforge.net/projects/win32diskimager/">Win32 Disk Imager</a> and use it to copy the .iso to your USB stick (1GB minimum size).</p>

  <h4>Once the installer is up...</h4>

    <p>Pick the "Automatic Install" option to wipe the first hard disk in your system and install SteamOS to it.</p>

    <p><iframe width="560" height="315" src="//www.youtube.com/embed/5Cy8RUKMXyI" frameborder="0" allowfullscreen></iframe></p>

    <p>For more sophisticated booting - e.g. dual-boot or custom partition sizes - select the "Expert" option. Use of this mode is documented in the support video above.</p>

    <p>Beyond that, just follow Valve's instructions from <a href="http://store.steampowered.com/steamos/buildyourown">their site</a> - Stephenson's Rocket should behave <i>exactly</i> like the real SteamOS, except it works on more systems</p>

<h2>Known issues</h2>

  <ul>
    <li>3D support is broken in Big Picture Mode itself and in 32-bit games in VirtualBox. This is a flaw in the VirtualBox guest drivers.</li>
  </ul>

<h2>How can I help?</h2>

  <p>Test it and report back to #steamos on Freenode.</p>

  <p>Or support me by donating - Donate via <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=888397">PayPal</a>, <a href="http://steamcommunity.com/id/directhex/wishlist">Steam</a>, or <a href="http://www.amazon.co.uk/wishlist/LN9AGFCAGAHR">Amazon</a>. Donations will be used to help with testing - wifi adapters, hard disks, graphics cards, etc.</p>

<h2>Version History</h2>

  <ul>
    {% for post in site.posts %}
      <li>
        <h4>{{ post.title }}</h4>
        {{ post.content }}
      </li>
    {% endfor %}
  </ul>

<h2>Special thanks:</h2>

  <p>Wouter Wijsman (sharkwouter) for his continued contributions.</p>
  <p>Michael Waltz (ecliptik) for his contributions.</p>
  <p>Anonymized benefactors for their sponsorship (~400 day VMware key; £60; 1 month reddit Gold; Shoot Many Robots game; Civ5 gold upgrade).</p>
  <p>Various Valve engineers for their help.</p>
  <p>steam-scene.com for awarding the top prize in their SteamOS modding contest to Ye Olde SteamOSe<p>
  <p><a href="http://www.valvesoftware.com/">Valve Software</a> for their kind donation of a Steam Controller prototype</p>
  <p><a href="http://www.collabora.com/">Collabora Ltd</a> for their kind donation of 2 x 500GB hard disks for testing</p>
