<footer class="site-footer">

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Stephenson's Rocket maintained by <a href="https://github.com/directhex">directhex</a></p>
        <p class="copyright">Rocket illustration copyright expired, from <a href="http://commons.wikimedia.org/wiki/File:Stephenson%27s_Rocket_drawing.jpg">Wikimedia Commons</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

</footer>
