<header class="site-header">

    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/steamos-community/stephensons-rocket">View on GitHub</a>
          <img src="images/rocket.jpg" width="531" height="371" />
          <h1 id="project_title">{{ site.title }}</h1>
          <h2 id="project_tagline">{{ site.description }}</h2>

        </header>
    </div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- stephensonsrocket.horse -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8962895661106391"
     data-ad-slot="9417774665"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</header>
